<!DOCTYPE html>
<html>
<head>
  <title>JoyAcademy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/buzz/1.2.0/buzz.min.js'></script>
  <link rel="stylesheet" href="http://webfonts.ru/import/arimo.css" type="text/css" media="screen" />
  <link href="http://allfont.ru/css/?fonts=open-sans" rel="stylesheet" type="text/css" />
  <link href="http://allfont.ru/css/?fonts=pt-sans" rel="stylesheet" type="text/css" />
  <link href="http://webfonts.ru/import/barkentina.css" rel="stylesheet" type="text/css" />
  <link href="http://webfonts.ru/import/arnamuserif.css" rel="stylesheet" type="text/css" />
  <link href="http://webfonts.ru/import/gentium.css" rel="stylesheet" type="text/css" />
  <link href="http://webfonts.ru/import/linlibslanted.css" rel="stylesheet" type="text/css" />
  <link href="http://webfonts.ru/import/merriweather.css" rel="stylesheet" type="text/css" />
  <link href="http://webfonts.ru/import/notoserif.css" rel="stylesheet" type="text/css" />
</head>
<body class=''>

    <div id="site-hat">
        <%= link_to root_path do %>
          <img class="hidden-xs" src="/images/logo-text1.png" alt='джой олимпиады | дистанционные олимпиады для школьников' id="logo">
        <% end %>
        <nav>
          <%= link_to 'Главная', root_path %>
          <%= link_to 'Итоги', rewards_path %>
          <%= link_to 'Награды', honors_path %>
          <%= link_to 'Как принять участие?', instruction_path %>
        </nav>
    </div>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>

    <div class='container'>
      <div class='wrap-content'>
        <%= yield %>
      </div>
    </div>

    <div class="footer">
      <div class="tac mtl">
        <hr>
        <p>
          <a href="/privacy.html" class="privLink">Договор оферта</a> <a href="/terms.html">Правила</a> <a href="/contact.html">Контакты</a>
          <br>
        </p>
        <p>Организатор: <a href='http://ya-geniy.ru'>Я гений</a> (СМИ)</p>
      </div>
    </div>
</body>
</html>